/*—————————————Parametre de base—————————————*/
:root {
    --primary-color: #E2B791;
    --secondary-color: #D8844D;
    --accent-color: #2E2E2E;
    --background-color: #F3E1D1;
    --highlight-color: #F4D5BB;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --blue: #1d6f5f;
    --beige: #e1b690;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.center {
    justify-content: center;
}

.imgOpc {
    opacity: var(--sds-size-stroke-border);
    background: lightgray -198.994px 126.141px / 164.435% 209.574% no-repeat;
    mix-blend-mode: overlay;
}

.marging {
    margin-left: 20%;
    margin-right: 20%;
}

.zindex {
    position: relative;
    z-index: 9;
}

/*—————————————Header—————————————*/

nav {
    background-color: #1d6f5f;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #F3E1D1;
    padding: 10px 20px;
    background-color: var(--blue);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
  }
  
  nav a:hover {
    background-color: #2E2E2E;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--beige);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 9;
    max-height: 300px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-content a {
    color: #F3E1D1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #F3E1D1;
    text-align: center;
  }
  
  
/*——————————————Produit tier——————————*/

.produits-trier {
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.produits-list {
    display: flex;
    gap: 10px;
}

.produit-card {
    flex: 0 0 auto;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--secondary-color);
    transition: transform 0.2s ease-in-out;
}

.produit-card:hover {
    transform: scale(1.05);
}

.produit-image {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.produit-info {
    text-align: center;
}

.produit-name {
    font-size: 1rem;
    margin-bottom: 4px;
}

.produit-price {
    color: #333;
    font-size: 0.9rem;
}


/*——————————— navbarr top ———————————*/

.menu-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.logoImg {
    width: 194px;
    height: 81px;
    flex-shrink: 0;
}

.menu-dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu-icon {
    width: 30px;
    height: 30px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-option {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-option:hover {
    background-color: var(--beige);
  }
  
  .dropdown-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .animated-dropdown {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/*———————————cart panier———————————————*/

.cart {
    position: fixed;
    right: 0;
    top: 100px;
    width: 350px;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    z-index: 1000;
    border-radius: 10px;
    animation: fadeIn 0.3s ease-in-out;
}

.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.cart-title {
    font-size: 1.5rem;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.cart-item-button {
    padding: 5px 10px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-button:hover {
    background-color: var(--secondary-color);
}

.cart-item-quantity {
    font-size: 1rem;
    padding: 5px 10px;
    background-color: var(--highlight-color);
    border-radius: 5px;
    color: var(--accent-color);
}

.item-prix {
    display: flex;
    align-items: center;
}

.cart-description {
    display: flex;
}

.cart-item-details {
    font-size: 13px;
    margin-left: 10px;
    color: white;
}

.cart-PlusMoin {
    display: flex;

}

.cart-total {
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-top: 15px;
}

.cart-view-button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.cart-view-button:hover {
    background-color: var(--blue);
}


button {
    background: #d8844d;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .quantity-circle {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
  }
/*———————— barre de navigation ————————————— */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background: var(--primary-color);
    align-items: center;
    padding-left:15% ;
    padding-right: 15%;
}

@media (max-width: 1000px) {

    .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background: var(--primary-color);
    align-items: center;
    padding-left: 5% ;
    padding-right: 5%;
    }

    .marging {
    margin-left: 2%;
    margin-right: 2%;
    }
}

@media (max-width: 600px) {
    .grid-container {
        padding-top: 3%;
        padding-bottom: 3%;
        display: grid;
        gap: 20px;
        height: 100%;
    }

}


.logo {
    display: flex;
    align-items: center;
}


.navBar-container {
    display: flex;
    align-items: center;
    background-color: #cf7742; 
    border-radius: 10px;
    padding: 0 10px;
    max-width: 600px;
    width: 100%;
    height: 40px;
}

.navBar {
    border: none;
    background: none;
    color: #b10f0f; 
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 10px;
    outline: none;
}

.searchButton {
    background-color: var(--beige); 
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.searchButton:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}

.searchIcon {
    font-size: 1rem;
}

.searchImg {
    padding-top: 2px;
    width: 1rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2%;
}

.menu-btn {
    background-color: #1e5d52; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.quantity-circle {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    position: absolute;
    top: -5px;
    right: -10px;
}

/*————————— Main BYP ————————*/

.main-banner {
    background-size: cover;
    width: 100%;
    background-color: var(--blue);
    position: relative;
    overflow: hidden;
}

.main-banner img {
    mix-blend-mode: overlay;
    height: auto;
    max-width: 60%;
    animation: fadeIn 2s ease-in-out forwards; /* Ajoute une animation d'apparition */
}

.byp-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;
    height: auto; /* Conserve les tailles définies par l'image */
}

#button-BYP {
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: bounce 3s infinite; /* Animation pour faire rebondir le bouton */
    cursor: pointer;
}

.grid-container {
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid; 
    gap: 20px;
}

/* Animation fadeIn */
@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
}

/* Animation bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-20px); 
    }
    60% {
        transform: translateY(-10px); 
    }
}


/*————————————item general————————————————*/
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--highlight-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.item span {
    font-size: 1.2rem;
    color: var(--accent-color);
    font-weight: bold;
}


/*—————————————item accueil—————————————————*/
.item-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s;
}

.item-home img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    mix-blend-mode: overlay;
}

.item-home span {
    font-size: 1.2rem;
    color: var(--accent-color);
    font-weight: bold;
}

.item-home:hover {
    transform: scale(1.05);
}

#item-0 {
/*Carte graphique*/
    background-color: var(--beige); 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-1 {
 /*Carte mere*/
    background-color: var(--blue); 
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    align-content: center;
    
 }
 #item-2 {
 /*RAM*/
    background-color: var(--blue); 
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    align-content: center;
    
 }
 #item-3 {
 /*Processeur*/
    background-color: var(--beige); 
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 5;
    
 }
 #item-4 {
  /*Alimentation*/
    background-color: var(--blue); 
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    align-content: center;
 }
 #item-5 {
 /*Stockage*/
    background-color: var(--blue); 
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    align-content: center;
    
 }
 #item-6 {
 /*Boitié*/
    background-color: var(--beige); 
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 3;
    align-content: center;
 }

 #item-7 {
 /*Ventirad*/
    background-color: var(--blue); 
    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 7;
    grid-column-end: 4;
    align-content: center;
 }
 #item-8 {
 /*Watercooling*/
    background-color: var(--blue); 
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 5;
    align-content: center;
 }

 /*———————————CAARROUSEL———————————————*/
  
.popular-products-container {
    background-color: var(--blue);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 4px 10px var(--shadow-color);
    max-width: 100%;
    overflow: hidden;
  }
  
  .popular-products-container h2 {
    color: var(--beige);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .popular-products-carousel-slide {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .product-item-top {
    flex: 1;
    background-color: var(--beige);
    border-radius: 12px;
    box-shadow: 0 4px 6px var(--shadow-color);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 150px; 
    height: 220px; 
  }
  
  .product-item-top:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--shadow-color);
  }
  
  .product-item-top img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-bottom: 2px solid var(--secondary-color);
  }
  
  .product-name {
    text-align: center;
    font-size: 1.1rem;
    color: var(--accent-color);
    padding: 10px;
    background-color: var(--highlight-color);
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel .carousel-control-prev, .carousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
    z-index: 2;
    border: none; 
  }
  
  .carousel .carousel-control-prev {
    left: 15px;
  }
  
  .carousel .carousel-control-next {
    right: 15px;
  }
  
  .carousel .carousel-control-prev::before, .carousel .carousel-control-next::before {
    content: ''; 
  }
  
  .carousel .carousel-control-prev::after {
    content: '\276E'; 
    font-size: 20px;
    color: var(--background-color);
  }
  
  .carousel .carousel-control-next::after {
    content: '\276F'; 
    font-size: 20px;
    color: var(--background-color);
  }
  
  .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover {
    background-color: var(--secondary-color);
  }

  .carousel .control-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    gap: 10px;
  }

  @media (max-width: 768px) {
    .popular-products-carousel-slide {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  
    .carousel .carousel-control-prev, .carousel .carousel-control-next {
      width: 30px;
      height: 30px;
    }
  
    .carousel .carousel-control-prev::after, .carousel .carousel-control-next::after {
      font-size: 16px;
    }
  
    .product-name {
      font-size: 1rem;
    }
  }
  

  /*}}}}}}}}}}}}}}——————}}}}}}}}}}}}}}}}}}*/

.promo-carousel-container {
    border-radius: 12px;
    padding-top: 2%;
    margin-bottom: 50px;
    max-width: 100%;
    overflow: hidden;
  }
  .promo-carousel-slide:hover img {
    transform: none;
  }
  
  .promo-carousel-slide {
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo-carousel-slide img {
    max-width: 100%;
    max-height: 450px;
    border-radius: 12px;
    transition: transform 0.4s ease;
    object-fit: cover;
  }
  

  .promo-carousel-slide:hover img {
    transform: scale(1.08);
  }
  
  .promo-carousel-legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.3rem;
    box-shadow: 0 3px 7px var(--shadow-color);
  }
  
  .promo-carousel-legend:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
  }
  
  .carousel .carousel-control-prev, .carousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
    z-index: 2;
    border: none;
  }
  
  .carousel .carousel-control-prev {
    left: 15px;
  }
  
  .carousel .carousel-control-next {
    right: 15px;
  }
  
  .carousel .carousel-control-prev::before, .carousel .carousel-control-next::before {
    content: ''; 
  }
  
  .carousel .carousel-control-prev::after {
    content: '\276E';
    font-size: 20px;
    color: var(--background-color);
  }
  
  .carousel .carousel-control-next::after {
    content: '\276F';
    font-size: 20px;
    color: var(--background-color);
  }
  
  .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover {
    background-color: var(--secondary-color);
  }


.promo-carousel-slide::before {
    content: "PROMO";
    position: absolute;
    top: 58px;
    right: -25px; 
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 7px 25px;
    font-size: 1.1rem; 
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(45deg);
    transform-origin: top right; 
    box-shadow: 0 3px 7px var(--shadow-color);
    z-index: 3;
    border-radius: 3px;
}

.carousel-status {
    display: none;
}

.carousel-dots {
    display: none !important;
}

.carousel-dot {
    display: none !important;
}

   

  /*—————————————PANIER——————————————————-*/

.panier-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--shadow-color);
}

.panier-title {
    text-align: center;
    font-size: 2.5em;
    color: var(--accent-color);
    margin-bottom: 25px;
    font-weight: bold;
}

.panier-total {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: right;
    margin-bottom: 25px;
}

.promo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.promo-input {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1.1em;
    background-color: var(--highlight-color);
    color: var(--accent-color);
}

.promo-button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.promo-button:hover {
    background-color: var(--secondary-color);
}

.panier-items {
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
}

.panier-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px var(--shadow-color);
}

.item-info {
    display: flex;
    align-items: center;
}

.item-button {
    padding: 8px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-button:hover {
    background-color: var(--secondary-color);
}

.item-quantity {
    font-size: 1.1em;
    padding: 6px 12px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 8px;
    background-color: var(--highlight-color);
    color: var(--accent-color);
}

.item-details {
    font-size: 1.1em;
    color: var(--accent-color);
    margin-left: 20px;
}

.checkout-button {
    width: 100%;
    padding: 15px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: var(--primary-color);
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

/*—————————— FOOTER ——————————————*/

.footer {
    background-color: var(--blue);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-section {
    margin: 10px;
  }

  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section li {
    margin-bottom: 5px;
  }

  .footer-contact p {
    margin: 5px 0;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    font-size: 1em;
    border-top: 1px solid white;
    padding-top: 10px;
  }

  .footer-bottom div {
    flex: 1;
    text-align: center;
  }