* {
    margin: 0;
    padding: 0;

}

.main {
    display: flex;
    margin: auto;
   
}

.body {
  
    display: flex;
    justify-content: center;
    margin: auto;
}

.form {
    display: flex;
    margin: auto;
    flex-direction: row;

    padding: 5em;
}

.form div {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 20px;
}

.form div {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 20px;
}

.form div input {
    width: 500px;

}

.imageEdit {
    width: 500px;
}

.Navbar {
    background-color: rgb(255, 184, 126);
    margin: 10px;
    padding: 20px;
}

.Navbar a {
    margin: 10px;
    padding-right: 20px;
    border-right: 1px solid black;
    cursor: pointer;
}

.edit {
    background-color: green;
    /* color: black; */
}

.delete {
    background-color: red;
    /* color: black; */
}

.view {
    background-color: rgb(218, 23, 218);
    
}

.recherchebar {
    padding: 10px;
    width: 50%;
}

.inputbar {
    padding: 10px;
}
table  {
    background-color: white;
    border: 1px solid;
}
table tr {
    background-color: rgb(240, 239, 239);
    margin: 50px;
    border: 5px solid black;
}

table tr th{
    background-color: rgb(240, 239, 239);
    padding: 15px;
    
}

table tr td{
    background-color: rgb(240, 239, 239);
    padding: 15px;
    
}

.gop {
    color: blue;
    cursor: pointer;
}