.all-product {
    height: 71vh;
}

.all-product .product-grid {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    padding-top: 2%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.all-product .product-grid::-webkit-scrollbar {
    display: none;
}

.product-grid .product-in-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #CC8857;
    height: 50%;
    width: 20%;
    margin: 1%;
    border-radius: 10px;
}

.product-in-grid img {
    height: 60%;
    object-fit: cover;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.product-in-grid .product-in-grid-name {
    font-size: 1em;
    font-weight: bold;
    color: #4A4A4A;
    width: 50%;
}

.product-in-grid .product-in-grid-marque {
    font-size: 0.8em;
    color: #4A4A4A;
}

.product-in-grid .product-in-grid-price {
    font-size: 1em;
    font-weight: bold;
    color: #4A4A4A;
}