.product-boitier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.product-boitier .product-section {
    background-color: #F0E2D3;
    height: 78vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-section .product {
    background-color: #F0E2D3;
    width: 33%;
    height: 50%;
    text-align: center;
}

.product .picture {
    background-color: #F0E2D3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-content: center;
    text-align: center;
}

.picture .boitier {
    height: 90%;
    object-fit: contain;
}

.product-boitier .p {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3%;
}

.product-section .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F0E2D3;
    width: 33%;
    height: 56%;
    margin-top: 3%;
    text-align: center;
}

.product-info .notation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    height: 10%;
    width: 100%;
    margin-top: 5%;
    /*background-color: red;*/
}

.notation .vue-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    width: 25%;
    height: 100%;
    margin-right: 5%;
}

.vue-stat img {
    width: 20%;
    margin-right: 10%;
}

.vue-stat .vue-texte {
    color: #003E87;
}

.notation .avis-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    width: 30%;
    height: 100%;
    margin-right: 5%;
}

.avis-stat img {
    width: 13%;
    margin-right: 10%;
}

.avis-stat .avis-texte {
    color: #003E87;
}

.notation .star-stat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-right: 5%;
}

.star-stat img {
    width: 13%;
    margin-right: 5%;
}

.product-info p {
    color: grey;
    text-align: left;
    padding-left: 5%;

}

.product-info .button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #003e87;
    border-radius: 50px;
    height: 10%;
    width: 80%;
}

.button-create img {
    width: 7%;
    margin-right: 3%;
}

.button-create p {
    color: #003e87;
    font-weight: bold;
}

.product-info .marques-produits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-top: 5%;
}

.marques-produits .msi-Logo {
    width: 10%;
    filter: grayscale(100%);
}

.marques-produits .nvidia-logo {
    width: 20%;
    filter: grayscale(100%);
}

.product-section .price-section {
    background-color: #DBB996;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 80%;
    margin-top: 3%;
    text-align: center;
    border-radius: 30px;
}

.price-section h2 {
    color: #376D5F;
    font-size: 2.5rem;
}

.price-section .multiple-payement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 15%;
    border: 5px solid #376D5F;
    border-radius: 30px;
}

.price-section .promo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 15%;
    border: 5px solid #376D5F;
    border-radius: 30px;
}

.multiple-payement h3 {
    color: white;
    height: 33%;
    width: 75%;
    background-color: #376D5F;
    position: relative;
    bottom: 20%;
    padding-top: 5px;
    border-radius: 30px;
}

.promo-section h3 {
    color: white;
    height: 33%;
    width: 75%;
    background-color: #376D5F;
    position: relative;
    bottom: 20%;
    padding-top: 5px;
    border-radius: 30px;
}

.multiple-payement .time-price {
    color: #CC8857;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

.promo-section .promo-text {
    color: #CC8857;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

.multiple-payement .time-price span {
    color: #376D5F;
    margin-left: 15%;
}

.multiple-payement .frais-price {
    font-size: 0.9rem;
    color: grey;
    margin-top: 2%;
}

.price-section .product-quantity {
    width: 90%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-quantity h3 {
    color: #CC8857;
    font-size: 1.2rem;
}

.price-section .add-basket-button {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC8857;
    border-radius: 30px;
    cursor: pointer;
}

.add-basket-button img {
    width: 10%;
}

.add-basket-button h2 {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 5%;
}

.price-section .buy-now-button {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC8857;
    border-radius: 30px;
}

.buy-now-button img {
    width: 7%;
}

.buy-now-button h2 {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 5%;
}

.price-section .product-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
}

.product-stock .in-stock {
    color: #218a3b;
    font-weight: bold;
}

.product-stock .out-of-stock {
    color: #c70000;
    font-weight: bold;
    width: 80%;
    margin-left: 3%;
    font-size: 1.1rem;
    margin-bottom: 2%;
}

.product-stock .stock-notify {
    width: 80%;
    height: 100%;
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stock-notify label {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.stock-notify input {
    width: 90%;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: none;
}

.stock-notify button {
    width: 50%;
    height: 35%;
    background-color: #376D5F;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
}

.stock-notify button:hover {
    transition: ease-in-out 0.4s;
    background-color: #115b47;
}
/*.product-boitier .stock {*/
/*    height: 30px;*/
/*    left: 116px;*/
/*    position: absolute;*/
/*    top: 437px;*/
/*    width: 94px;*/
/*}*/

/*.product-boitier .text-wrapper-4 {*/
/*    color: #17a700;*/
/*    font-family: "Inter-Regular", Helvetica;*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*    left: 11px;*/
/*    letter-spacing: 0;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    top: 0;*/
/*}*/

/*.product-boitier .text-wrapper-5 {*/
/*    color: #c70000;*/
/*    font-family: "Inter-Regular", Helvetica;*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*    left: 0;*/
/*    letter-spacing: 0;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    top: 15px;*/
/*}*/

/*.product-boitier .buy-now-button {*/
/*    background-color: #376D5F;*/
/*    border-radius: 20px;*/
/*    height: 57px;*/
/*    left: 42px;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    top: 370px;*/
/*    width: 238px;*/
/*}*/

/*.product-boitier .buy-now-title {*/
/*    color: white;*/
/*    font-family: "Inter-Bold", Helvetica;*/
/*    font-size: 16px;*/
/*    font-weight: 700;*/
/*    left: 9px;*/
/*    letter-spacing: 0;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    top: 18px;*/
/*    white-space: nowrap;*/
/*    width: 191px;*/
/*}*/

/*.product-boitier .buy-now-icon {*/
/*    height: 22px;*/
/*    left: 212px;*/
/*    position: absolute;*/
/*    top: 17px;*/
/*    width: 12px;*/
/*}*/

/*.product-boitier .add-basket-button {*/
/*    background-color: #376D5F;*/
/*    border-radius: 20px;*/
/*    height: 57px;*/
/*    left: 42px;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    top: 303px;*/
/*    width: 238px;*/
/*}*/

/*.product-boitier .add-basket-icon {*/
/*    height: 18px;*/
/*    left: 196px;*/
/*    position: absolute;*/
/*    top: 19px;*/
/*    width: 20px;*/
/*}*/

/*.product-boitier .add-basket-title {*/
/*    color: #ffffff;*/
/*    font-family: "Inter-Bold", Helvetica;*/
/*    font-size: 16px;*/
/*    font-weight: 700;*/
/*    left: 15px;*/
/*    letter-spacing: 0;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    top: 18px;*/
/*    white-space: nowrap;*/
/*    width: 173px;*/
/*}*/

/*.product-boitier .specs-img {*/
/*    margin: auto;*/
/*    width: 1440px;*/
/*    height: 63%;*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*}*/

.produit-promo {
    text-decoration:line-through;
}

.board {
    display: flex;
    justify-content: space-between;
}